html {box-sizing: border-box}
*,*::before,*::after{box-sizing: inherit}

body {
    width: 1500px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
/* background image to be added later */
    background-color: grey;
}
.pageTop {
    position: relative;
}

.logo {
    width: 500px;
    height: 400px;
    border: solid 1px red;
    position: absolute;
    top: 0;
    left: 0;
}

#logo {
    width: 300px;
    margin: 10px 100px;
}

.logo h2, h3 {
    text-align: center;
    color: rgb(169, 45, 38)
}

.social {
    width: 500px;
    height: 300px;
    border: solid 1px transparent;
    position: absolute;
    top: 500px;
    left: 0;
    margin-left:20px;
}

.innerPic {
    width: 1000px;
    height: 650px;
    position: absolute;
    left: 500px;
    background-image: url("assets/Tavern.jpeg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    margin-left:20px;
    margin-top:50px;    
}

.pageBody {
    position: relative;
    top: 600px;
    left: 0;
}

#accordion {
    position:absolute;
    top: 0;
    left:500;
    margin-top:200px;
    margin-left:600px;
}

ul {
    list-style:none;
    padding:0;
    width:1000px;
    color:black;
    font-size:20px;
    }
    
    #accordion li h4 {
    background:rgb(255,255,255,.2);
    color:black;
    padding:10px;
    margin:0;
    border:1px solid transparent;
    font-family: Helvetica;
    font-size:30px;
    height:50px;
    width:1000px;
    }
    
    #accordion li .content {
    padding: 0 10px;
    }
    
    .content{
        height:0;
        overflow:auto;
        transition: height 1s;
    }
    
    .content.show {
        height:500px;
    }

    .menutitles {
        color: rgb(0,0,0,.3)
    }

    #menu-container .name {
        font-size:30px;
    }

    #menu-container .price {
        font-size:20px;
    }

    #hist {
        font-size:30px;
        color:black;
        display:center;
        font-family: 'Arial Narrow Bold';
        padding:50px;
    }

.specials {
    width: 500px;
    height: 1200px;
    border: solid 1px transparent;
    position: absolute;
    top: 600px;
    left: 0;
}

.specials h2 {
    text-align: center;
    color: rgb(169, 45, 38)
}

#bratwurst {
    width: 450px;
    margin: 0 25px;
}

#cookies {
    width: 450px;
    margin: 0 25px;
}

.specials p {
    margin: 25px;
    font-size: 18px;
}

.specials hr {
    width: 475px;
    height: 5px;;
    background-color: rgb(169, 45, 38);
    border: none;
    border-radius: 25%;
}

.news {
    width: 500px;
    height: 600px;
    border: solid 1px transparent;
    position: absolute;
    top: 1200px;
    left: 500px;
}

.map {
    width: 500px;
    height: 600px;
    border: solid 1px transparent;
    position: absolute;
    top: 1200px;
    left: 1000px;
}


.slideshow-container {
  position: absolute;
  margin-top: 200px;
  border:20px solid rgb(255,255,255,.2);
  margin-left:0px;
}

.mySlides {
  display: none;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

