html {box-sizing: border-box}
*,*::before,*::after{box-sizing: inherit}

body {
    width: 1500px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
/* background image to be added later */
    background-color: darkgray;
}
.pageTop {
    position: relative;
}

.logo {
    width: 500px;
    height: 400px;
    border: solid 1px red;
    position: absolute;
    top: 0;
    left: 0;
}

#logo {
    width: 300px;
    margin: 10px 100px;
}


h2, h3 {
    text-align: center;
    color: rgb(169, 45, 38)
}

h4 {
    font-size: 18px;
}

.social {
    width: 500px;
    height: 300px;
    border: solid 1px transparent;
    position: absolute;
    top: 400px;
    left: 0;
    margin-left:20px;
}

.innerPic {
    width: 1000px;
    height: 600px;
    border: solid 1px red;
    position: absolute;
    top: 0;
    left: 500px;
    background-image: url("assets/Tavern.jpeg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;  
}

.pageBody {
    position: relative;
    top: 600px;
    left: 0;
}


#accordion {
    position:absolute;
    top: 0;
    left:500;
    margin-top:200px;
    margin-left:600px;
}

ul {
    list-style:none;
    padding:0;
    width:1000px;
    color:black;
    font-size:20px;
    }
    
    #accordion li h4 {
    background:rgb(255,255,255,.2);
    color:white;
    padding:10px;
    margin:0;
    border:1px solid transparent;
    font-family: Helvetica;
    font-size:30px;
    height:50px;
    width:1000px;
    }
    
    #accordion li .content {
    padding: 0 10px;
    }
    
    .content{
        height:0;
        overflow:auto;
        transition: height 1s;
    }
    
    .content.show {
        height:500px;
    }

.slideshow-container {
    width: 500px;
    height: 600px;
    border: solid 1px red;
    position: absolute;
    top: 600px;
    left: 0;
  /* border:30px solid rgb(220,220,220,.5); */
}

.mySlides {
  display: none;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.tabs {
    width: 1000px;
    height: 1200px;
    border: solid 1px red;
    position: absolute;
    top: 600px;
    left: 500px;

}

/* .select {
    display: flex;  
    flex-direction: row;
}

.hidden {
    position: relative;
    max-width: 0;
    overflow-x: auto;
	transition-property: all;
	transition-duration: .5s;
}

.hidden.open {
    max-width: 1000px;
} */

.specials {
    width: 500px;
    height: 1200px;
    border: solid 1px transparent;
    position: absolute;
    top: 1200px;
    left: 0;
}


#bratwurst {
    width: 450px;
    margin: 0 25px;
    border: solid 2px  rgb(169, 45, 38);
    box-shadow: inset 0 0 200px black;
}

#bratwurst {
    width: 450px;
    margin: 0 25px;

}

#cookies {
    width: 450px;
    margin: 0 25px;

    border: solid 2px  rgb(169, 45, 38);
    box-shadow: inset 0 0 200px black;
}

p {
    margin: 25px;
    font-size: 18px;
}
span {
    text-align: center;
}

hr {
    width: 90%;
  height: 5px;;
    background-color: rgb(169, 45, 38);
    border: none;
    border-radius: 25%;
}

.specials p {
    margin: 25px;
    font-size: 18px;
}

.news {
    width: 500px;
    height: 600px;
    border: solid 1px transparent;
    position: absolute;
    top: 1800px;
    left: 500px;
}

.map {
    width: 500px;
    height: 600px;
    border: solid 1px transparent;
    position: absolute;
    top: 1800px;
    left: 1000px;
}

#map {
    width: 400px;
    height: 200px;
    margin: auto;
    border: solid 2px  rgb(169, 45, 38);
}

#mars {
    width: 400px;
    height: 200px;
    margin: auto;
    border: solid 2px  rgb(169, 45, 38);
}






